@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
  .unverified-alert-2{
    @apply opacity-0;
    animation: slideDown 2s forwards;
  }
  .unverified-alert-3 {
    @apply opacity-0;
    animation: slideDown 3s forwards;
  }
  .unverified-alert-5 {
    @apply opacity-0;
    animation: slideDown 5s forwards;
  }
  .unverified-alert-10 {
    @apply opacity-0;
    animation: slideDown 10s forwards;
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%); /* Start from top */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* End at its original position */
      opacity: 1;
    }
  }
}

.circle {
  @apply w-4 h-4 my-12 mx-1 bg-emerald rounded-full;
}